/* RESET */
#recettes .card{
  padding: 0 !important;
}
p{
  font-size: .8rem;
}


/* FIN DU RESET */

/* GLOBAL */
body{
  background-color: #F7F7F7;
}
h1{
  color: #D04F4F;
}
header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-img-top svg{
  width: 100%;
  height: 100%;
  object-fit: cover !important;
  border-radius: 20px 20px 0 0 !important;
}
.card{
  border: none !important;
  background-color: #F7F7F7;
  margin: 10px 0;
}
.card p{
  font-size: 12px;
  font-weight: 700;
}
.card-body{
  background: rgba(0,0,0,.1);
  border-radius: 0 0 20px 20px;
  height: 320px;
}
.card-body .col-6{
  padding-right: 5px !important;
  padding-left: 5px !important;
}


/* FIN DU GLOBAL */
#input-ustensil-container, #input-appliance-container, #input-ingredient-container{
  position: relative;
}
#listIngredients, #listAppareils, #listUstensils{
  position: absolute;
  top: 100%;
  left: 0;
  color: white;
  z-index: 1;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
#listIngredients, #listAppareils, #listUstensils{

}
#listIngredients p, #listAppareils p, #listUstensils p{
  padding: 0 .5rem;
}

#listUstensils, #listAppareils, #listIngredients{
  display: none;
}
.visible{
  display: flex !important;
}

/* INPUT */
#filtres{
  display: flex;
}
#filtres p{
  padding: 0.5rem;
}
#filtres-ingredient,.filtres-ingredient-container, #filtres-appareil, .filtres-appareil-container, #filtres-ustensil, .filtres-ustensil-container{
  display: none;
}
#inputSearch{
  background-color: lightgray;
}
.inputsContainer input{
  border: none;
  border-radius: 0.25rem 0 0 0.25rem;
}
.inputsContainer input::placeholder{
  color: white !important;
}
.arrowDown{
  border-radius: 0 0.25rem 0.25rem 0;
  height: 100%;
}
.fa-magnifying-glass{
  top: 10px;
  right: 10px;
}
